.block-post
	.block-post-heading-wrapper
		.block-post__date 16 марта 2017
		.block-post__title Национальный парк Йосемити
	img(src="../img/blog/post-img.jpg").block-post__img
	.block-post__content
		p Национальный парк, расположенный в округах Мадера, Марипоса и Туолумне штата Калифорния, США. Занимает площадь в 3081 км² и находится на западных склонах горного хребта #[a(href="#!") Сьерра-Невада]. Славится своими ландшафтами и природой: впечатляющие гранитные скалы, водопады, реки с чистой водой, рощи секвойядендронов и богатое биологическое разнообразие. Каждый год парк посещают 4—5 миллионов человек; большинство останавливается только в долине #[a(href="#!") Йосемите.]
		p Парк является одной из крупнейших и нерасчленённых территорий сохранения дикой природы в районе Сьерра-Невады; местная фауна и флора чрезвычайно разнообразна. Парк включает пять основных зон растительности: густые заросли кустарников и дубов, нижний горный лес, верхний горный лес, субальпийский и альпийский пояса. Из 7000 видов растений, растущих в Калифорнии, приблизительно половина встречается в горах Сьерра-Невады, а пятая часть — на территории самого парка.
	.post-nav
		+button('Предыдущий пост', '#!')
		+button('Следующий пост', '#!')